html {
    font-size: 1em;
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 0.8125em/1.692307em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  background: #ffffff;
  padding: 0;
}

::-moz-selection {
    background: #000000;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #000000;
    color: #ffffff;
    text-shadow: none;
}
a, a:visited {
    color: #7089c9;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #0e0f2d;
}
a:focus { outline: none; }

a:hover, a:active { outline: 0; }

a:hover img { opacity: 0.85; }

p { margin: 0 0 1.692307em 0 }

strong {
    color: #cccccc;
    font-weight: bold;
}

em {
    color: #cccccc;
    display: block;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 15px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e7e7e7;
    margin: 1em 0 1.692307em 0;
    padding: 0;
}

ul {
    list-style: disc;
    margin: 0 0 1.692307em 2.8em;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: normal;
    margin: 0 0 15px 0;
    color: #333;
    line-height: 1.3em;
}

h1 { font-size: 2.769230769230769em; }
h2 { font-size: 1.846153846153846em; }
h3 { font-size: 1.538461538461538em; }
h4 { font-size: 1.384615384615385em; }
h5 {
    font-size: 1.230769230769231em;
    font-weight: bold;
}

h6 {
    font-size: 1.076923076923077em;
    font-weight: bold;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

#brand {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}
#logo {
    float: left;
    margin-right: 15px;
}
#site-info {
    float: left;
    padding-top: 10px;
}
#site-name {
    margin: 0;
    text-transform: uppercase;
}
#site-description {
    color: #7089c9;
    margin: 0;
    text-transform: uppercase;
}

.entry-title {
    color: #cccccc;
    line-height: 1.3em;
    font-size: 1.846153846153846em;
    text-transform: uppercase;
    word-spacing: 2px;
}

.list-label {
    display: block;
    margin-bottom: 15px;
}

#nav-container {
    position: fixed;
    top: 50%;
    width: 940px;
}

#nav-container a,
#nav-container a:visited {
    color: #cccccc;
    font-size: 9em;
    position: absolute;
}

#nav-container a:hover {
    color: #0e0f2d;
}

#nav-next {
    left: -90px;
}

#nav-prev {
    right: -90px;
}

#footer {
    color: #aaaaaa;
    font-size: 0.8461538461538462em;
    padding-bottom: 30px;
}
