<?php

$lists = array(
    array(
        'title' => 'Doctorat Anunturi',
        'name'  => 'doctorat-anunturi'
    ),
    array(
        'title' => 'Doctorat Avizier',
        'name'  => 'doctorat-avizier'
    )
);

?>
